.order {

  &__wrapper {
    display: flex;
  }

  &__ad-form {
    padding: 140px 100px;
    background-color: #574B63;
    text-align: center;
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;

    background-color: inherit;

    border: none;
    border-bottom: 1px solid #F5F5F5;

    &::placeholder {
      color: rgba(#ffffff, .5)
    }
  }

  &__description {
    margin-bottom: 30px;
    color: rgba(#ffffff, .5)
  }

  &__btn {
    padding: 16px 81px;
    font-weight: 700;
    color: #490E84;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

    &:hover {
      background-color: darken(#ffffff, 15);
    }
  }
}